.container {
  padding: 20px 0;
  height: auto;
  min-height: 500px;
  background: #fff;

  .container-title {
    display: flex;
    justify-content: center;
  }

  .container-content {
    padding-left: 20px;
    padding-right: 20px;

    .content-demos {
      .row-demo {
        margin-bottom: 20px;
      }

      .col-demo {
        padding: 0 10px;
      }
    }
  }
}