.login-container {
  width: 100vw;
  height: 100vh;
  background: #fff;
  color: #373737;
  display: flex;
  align-items: center;
  justify-content: center;

  .login-form {

    .form-title {
      margin: 20px;
      text-align: center;
      font-size: 20px;
    }

    .form-content {

    }
  }
}