.form-label {
  width: 100%;
  
  :global {
    .ant-form-item-label {
      padding-right: 15px;
    }

    .ant-form-item-control {
      margin-left: -15px;
    }
  }
}

.form-item {
  // margin-left: 10px;
}

.form-input {
  // margin-left: -10px;
}