.container {
  height: auto;
  min-height: 500px;
  background: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 90px;
  overflow: auto;

  .container-form {
    min-height: 600px;

    .content {
      padding-left: 20px;
      padding-right: 20px;
    }

    .content-tabs {
      min-height: 300px;
      height: auto;
    }
  }

  .container-process {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;

    .process {
      height: 700px;
      min-height: 500px;
      max-height: 700px;
      border: 1px solid #ececec;
    }
  }
}

.action {
  margin-top: 20px;
  margin-bottom: 20px;
  position: fixed;
  bottom: 0;
  height: 60px;
  line-height: 60px;
  width: calc(100vw - 246px);
  background: #fff;
  text-align: right;

  .action-submit, .action-btn {
    margin-right: 20px;
  }
}

.form-item-label {
  display: inline-block;
  width: 128px !important;
}

.form-item-label-option {
  display: inline-block;
  width: 138px !important;
}